/* Home Screen */

.home-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-image: url("../assests/hacker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: #bb0505f5;
  height: 100vh;
  overflow-y: hidden;
}


.title {
  display: flex;
  font-size: 9rem;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: bold;
  font-style:normal;
  /* margin-right:60% ; */
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

.search-input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 40%;
  /* margin-bottom: 10px; */
  margin-left: 50%;
  transform: translateY(-420px);
  
}

.search-button {
  padding: 15px;
  background-color: #696666;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0c0c;
  width: 10%;
  margin-left: 50%;
  transform: translateY(-400px);
}

.loading {
  transform: translateY(-500px);
  margin-left: 40%;
  font-size: 60px;
  color: #fff;
}

.error {
  transform: translateY(-500px);
  margin-left: 20%;
  color: red;
}
.result{

  transform: translateY(-250px);
}
.results-list {
  list-style: none;
  padding: 0;
  width: 70%; 
  height: 400px;
  margin: 0 auto; 
  overflow-y: auto; 
  transform: translateY(-100px);
}

.result-item {
  background: #ccc8c8;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background 0.3s;
  cursor: pointer;
}

.result-item:hover {
  background: #bb0505f5;
}

@keyframes appearAnimation {
  to {
    opacity: 1;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* Post-Screen*/
.parent-container {
  /* background-color: #7a7c75; */
  background-color: #000;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 20px auto;
  background-color: #000;
  color: #ad0707f5;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.postscreen-title{
  font-size: 6rem;
}

.post-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.points {
  color: #fff;
}
.comment-box {
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
  overflow-wrap: break-word; /* Break long words and URLs */
}

.comment a {
  word-wrap: break-word; /* Break long words in links */
}

.comments-heading {
  margin-top: 20px;
  font-size: 2.2rem;
}

.comments-list {
  list-style: none;
  padding: 0;
  font-size: 1.7rem;
}

.comment {
  margin-bottom: 20px;
}

/* .comment-box {
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
} */

.loading {
  color: #fff;
}

.error {
  color: red;
}

/* Responsive Styles */

/* Small devices  */

@media only screen and (max-width: 480px) {
  .container {
    padding: 15px;
  }
  .postscreen-title {
    font-size: 3rem;
  }
  .post-title {
    font-size: 1.5rem;
  }

  .points,
  .comments-heading {
    font-size: 1rem;
  }

  .comment-box {
    padding: 10px;
    overflow: hidden; /* Add overflow property to prevent content overflow */
    white-space: wrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Show an ellipsis (...) when text is truncated */
  }
}




/* Small devices (landscape phones) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 25px;
  }
  .postscreen-title {
    font-size: 3rem;
  }
  .post-title {
    font-size: 1.5rem;
  }

  .points,
  .comments-heading {
    font-size: 1rem;
  }

  .comment-box {
    padding: 10px;
    overflow: hidden; /* Add overflow property to prevent content overflow */
    white-space: wrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Show an ellipsis (...) when text is truncated */
  }
}


/* Medium devices (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    padding: 35px;
  }
  .postscreen-title {
    font-size: 3rem;
  }
  .post-title {
    font-size: 1.5rem;
  }

  .points,
  .comments-heading {
    font-size: 1rem;
  }

  .comment-box {
    padding: 10px;
    overflow: hidden; /* Add overflow property to prevent content overflow */
    white-space: wrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Show an ellipsis (...) when text is truncated */
  }
}


/* Extra large devices (large desktops) */
@media only screen and (min-width: 1201px) {
  .container {
    padding: 30px;
  }
}
